<template>
  <section id="about">
  <div class="box">
<ul id="bookmarks">
  <li><a href="#">vegan</a>
   <ul class= "sites">
    <li><a href="http://www.provident-living-today.com/support-files/basic-sprouting-guide.pdf">sprouting</a></li>  
    <li><a href="https://www.youtube.com/watch?v=kcSZ22ZY8Qs&feature=youtu.be">eggsBenedict</a></li>
    <li><a href="http://thevword.net/2013/01/caldo-verde-portuguese-kale-soup.html">kaleSoup</a></li>
    <li><a href="http://inourishgently.com/one-minute-vegan-desserts/">deserts</a></li>
    <li><a href="https://www.youtube.com/watch?v=PDdwGVPbbxg">fastFood</a></li>  
    <li><a href="http://thegentlechef.com/meatanalogues.php">vegMeat</a></li>
    <li><a href="https://www.youtube.com/watch?v=9-rU_slgFLg">veganBbq</a></li>  
    <li><a href="https://www.youtube.com/watch?v=NU5VFjgj1_M">bbq</a></li>  
    <li><a href="http://www.veganpeace.com/ingredients/ingredients.htm">vegan</a></li>  
    <li><a href="https://inourishgently.com/13-tantalizing-vegan-tahini-recipes-try-today-plus-little-known-tahini-recipe-tips/?fbclid=IwAR3tKM0HDBne5TZQ5sAv87PEfGWDNqErPZs2a0jSldhin4w8hH-2nocyNww">tahini</a></li>  
    <li><a href="https://www.youtube.com/watch?v=yhmFS-fOJE8">pizzas</a></li>  
    <li><a href="https://doublecheckvegan.com/100-vegan-fashion-brands/vegan-shoe-brands/?fbclid=IwAR3Ow7wbX6Mxa7ZbqOq-8ndU8diwKNqZOK0vaPENBmrPmo1KU_z7-dWTBZo">veganShoes</a></li>  
  </ul>
 </li>
  <li><a href="#">moreVegan</a>
   <ul class= "sites">
    <li><a href="https://www.youtube.com/watch?v=qa5kLtbaHNU">oatMuffins</a></li>  
    <li><a href="https://www.youtube.com/watch?v=PKfR6bAXr-c">oneMealDaily</a></li>  
    <li><a href="https://www.youtube.com/watch?v=U-6GZbJlBs4">buddistChef</a></li>  
    <li><a href="https://www.youtube.com/watch?v=FvJ7VeINgo8">appleCinn</a></li>  
    <li><a href="https://www.youtube.com/watch?v=0gaMVKKw7cg">banOatPnkes</a></li>  
    <li><a href="https://www.youtube.com/watch?v=VVqYHSHvXH4">bedTumeric</a></li>  
    <li><a href="https://www.youtube.com/watch?v=bmfBjNeCMQ8">cabbagePtties</a></li>  
    <li><a href="https://www.youtube.com/watch?v=UAmxeD8XLtk&feature=youtu.be&fbclid=IwAR0zR7Lc4_zYGk_AfeQr6mhAMtcMZa7Er3xrJwktRgGrhHTKXnXLUvwkMDQ">veganWings</a></li>  
  </ul>
 </li>
  <li><a href="#">news</a>
   <ul class= "sites">
    <li><a href="http://vegnews.com/articles/page.do?pageId=7362&catId=1">news</a></li>
    <li><a href="http://vegnews.com/articles/page.do?pageId=7292&catId=2">ideas</a></li>
    <li><a href="http://www.mfablog.org/americas-first-ever-vegan-butcher-shop-opening">mercy</a></li>
    <li><a href="http://www.onegreenplanet.org/vegan-food/the-10-best-vegan-cooking-channels-on-youtube/">channels</a></li>
    <li><a href="http://techcrunch.com/2015/10/06/impossible-foods-raises-a-whopping-108-million-for-its-plant-based-burgers/#.qn0afkp:Ap7f">plantBased</a></li>
    <li><a href="https://www.youtube.com/watch?v=KW-SY1rSqQw">pressureCook</a></li>  
    <li><a href="https://www.youtube.com/watch?v=lU8daX2cWw8">mixerGrinder</a></li>  
  </ul>
 </li>
  <li><a href="#">sandwich</a>
   <ul class= "sites">
    <li><a href="http://inourishgently.com/this-richly-delicious-vegan-crunchburger-should-be-on-your-must-try-list/">veganBurger</a></li>
    <li><a href="https://blackdoctor.org/519220/chef-babette/?fbclid=IwAR19chEFyIcup-qyjAFrqtaIYiKXXluNL7JvCX39xdbKI8-EeiPveqQQaXE">veganMac</a></li>
    <li><a href="http://www.onegreenplanet.org/vegan-recipe/green-goddess-griller/?utm_source=Green+Monster+Mailing+List&utm_campaign=8261088fd1-NEWSLETTER_EMAIL_CAMPAIGN&utm_medium=email&utm_term=0_bbf62ddf34-8261088fd1-106065121">avocado</a></li>
    <li><a href="https://www.youtube.com/watch?v=rzmj2ejfNO0">pitaBread</a></li>  
  </ul>
 </li>
  <li><a href="#">sourDough</a>
   <ul class= "sites">
    <li><a href="https://www.youtube.com/watch?v=gbxaS9WrtLc">dutchOven</a></li>  
    <li><a href="https://www.youtube.com/watch?v=L410zfd0IRg">foodForever</a></li>  
    <li><a href="https://www.youtube.com/watch?v=1FkGX3xGlog">sourdough1</a></li>  
    <li><a href="https://www.youtube.com/watch?v=WytffmZQGwA">sourdough2</a></li>  
    <li><a href="https://www.youtube.com/watch?v=2FVfJTGpXnU">class</a></li>  
    <li><a href="https://www.youtube.com/watch?v=sTAiDki7AQA">starter</a></li>  
    <li><a href="https://www.youtube.com/watch?v=2FVfJTGpXnU">make</a></li>  
    <li><a href="https://www.youtube.com/watch?v=0wTt8VGyBdk">wildYeast</a></li>
    <li><a href="https://www.youtube.com/watch?v=eO3cIrNEuIc">rawOnWheat</a></li> 
    <li><a href="https://www.youtube.com/watch?v=nXO2T9rXGEI">pizzaDough</a></li>  
   </ul>
 </li>
  <li><a href="#">sushi</a>
   <ul class= "sites">
    <li><a href="https://www.youtube.com/results?search_query=make+sushi">sushi</a></li> 
    <li><a href="https://www.youtube.com/watch?v=sUySFN-VM7c">sandwich</a></li>  
   </ul>
 </li>
  <li><a href="#">powder</a>
   <ul class= "sites">
    <li><a href="https://www.youtube.com/watch?v=1r_vun-ERQI">grassPwder</a></li>
    <li><a href="https://www.youtube.com/watch?v=h7XtMQEUq6g">powder</a></li> 
    <li><a href="https://www.youtube.com/watch?v=oQbFlHaAq6Y">tomPder</a></li>  
    <li><a href="https://www.youtube.com/watch?v=obhYSf1ogoo">freezeDryer</a></li>  
    <li><a href="https://www.youtube.com/watch?v=m2MKfTUB0p0">foodShortage</a></li>  
    <li><a href="https://www.etsy.com/listing/557124275/zinc-oxide-powder-100-pure-non-nano-usp?gpla=1&gao=1&utm_campaign=shopping_us_WeepingWillowOilCo_sfc_osa&utm_medium=cpc&utm_source=google&utm_custom1=0&utm_content=15964306&gclid=Cj0KCQjwkIzlBRDzARIsABgXqV9M8aY5i23bkfwZU3ebqjXpJoA3VvZSdzTeymscCgzpvyoWOZL5zdkaAmI5EALw_wcB">zincOxde</a></li>
   </ul>
 </li>
</ul>
</div>
</section>
</template>


<script>
export default {
  name: "About",
};
</script>


<style scoped>
*{
    margin:0;
    padding:0;
}
body {
    font:14px/1.3 Arial,sans-serif;
}
.box {
    height: 571px;
    margin: 30px auto;
    padding: 15px;
    width: 771px;
}
#bookmarks,#bookmarks ul {
    background-color: #8899AA;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#bookmarks {
    display: block;
    padding: 5px;
    position: relative;
    width: 112px;
    -moz-perspective: 200px;
    -ms-perspective: 200px;
    -webkit-perspective: 200px;
    -o-perspective: 200px;
    perspective: 200px;
}
#bookmarks ul {
    left: -9999px;
    opacity:0;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    top: -9999px;
    -moz-transform: rotateY(70deg);
    -ms-transform: rotateY(70deg);
    -o-transform: rotateY(70deg);
    -webkit-transform: rotateY(70deg);
    transform: rotateY(70deg);
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transition: -moz-transform 0.3s linear, opacity 0.3s linear;
    -ms-transition: -ms-transform 0.3s linear, opacity 0.3s linear;
    -o-transition: -o-transform 0.3s linear, opacity 0.3s linear;
    -webkit-transition: -webkit-transform 0.3s linear, opacity 0.3s linear;
    transition: transform 0.3s linear, opacity 0.3s linear;
}
#bookmarks li {
    background-color: #FFFFFF;
    position: relative;
}
#bookmarks > li {
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
#bookmarks li a {
    background-color: #AABBCC;
    border-color: #DDDDDD #555555 #555555 #DDDDDD;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    display: block;
    font-size: 15px;
    padding: 8px 10px 8px 5px;
    text-decoration: none;
    width:95px;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#bookmarks li:hover > a {
    background-color: #8899AA;
    border-color: #8899AA;
    color: #FFFFFF;
}
#bookmarks li:hover ul.sites {
    left: 114px;
    opacity:1;
    top: 0;
    -moz-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
#bookmarks ul li {
    width: 100%;
}

</style>





